body{

    overflow-x: hidden;

}


#cabecalho{
    /*background-image: url(../images/fundo_plantas.png);*/
    background-size: 600px;
    background-color: rgb(13, 136, 9);
    height: 55px;
   
}
#cont_titulo{
    margin-left: 85vh;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    height: 45px;
}

#palavra_1{

    color: rgb(13, 136, 9);
    text-shadow: 1px 1px white, -1px -2px #444;

}
#palavra_2{

    margin-top: -18px;
    margin-left: 60px;
    color: goldenrod;
    text-shadow: 1px 1px white, -1px -2px #444;
    

}

.menu_oculto{
    background-color: black;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu_oculto a{
    color: rgb(255, 255, 255); text-shadow: goldenrod  0.1em 0.1em 0.2em;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.menu_oculto a:hover{color: goldenrod;}

.btn_fechar{
    right: 25px;
    position: absolute;
    padding: 16px;
    top: 0;
    margin-left: 50px;
    font-size: 25px;
    
}

#principal{
    color: rgb(255, 255, 255); text-shadow: black  0.1em 0.1em 0.2em;
    padding: 16px;
    margin-left: 15px;
    margin-top: -15px;
    transition: margin-left 0.5px;
}

/*usamos media p paginas responsivas*/
@media screen and(max-height: 450px){
    .menu_oculto{padding-top: 15px;}
    .menu_oculto a{font-size: 18;}
    }

.botoes_menu{color: rgb(255, 255, 255); text-shadow: black  0.1em 0.1em 0.2em;}

#bloco_titulo{
    text-align: center;
    margin-top: 12px;
    background: no-repeat center ;
    height: 20vh;
}
#bloco_titulo img{
    height: 100%;
    object-fit: fill;
    position: relative;
    top: 0;
}
img{

    margin-top: -50px;
    height: 230px;
    width: 430px;
    object-fit: fill;
    position: relative;

}
#p_titulo{
    top: 1.5vh;
    margin-left: 225px;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
}

.cx_meio{
    height: 520px;
}

.apresentacao{
    position: relative;
    height: 480px;
    margin-right: 10px;
    margin-top: 26px;
    background: radial-gradient(circle, rgb(28, 121, 0) 0%, rgba(0,100,0,1) 69%);
    border-radius: 9px 115px 9px 116px;
    -webkit-border-radius: 9px 115px 9px 116px;
    -moz-border-radius: 9px 115px 9px 116px;
    color: white;
    box-shadow: black 0.1em 0.1em 0.2em;
}

.nomeUsu{
    font-size: 20px;
    position: absolute;
    color: rgb(242, 242, 97); 
    margin-top: -45px;
    right: 16px;
}

.nomeUsu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.text{
    position: absolute;
    height: 50%;
    border-radius: 116px 10px 117px 11px;
    -webkit-border-radius: 116px 10px 117px 11px;
    -moz-border-radius: 116px 10px 117px 11px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    color: rgb(255, 255, 255); 
    text-shadow:rgba(0, 0, 0, 0.15) 0.2rem, 0.2rem, 0.2rem;
}


.linha_nome{
   height: 20%;
   font-size: 15px;
   justify-content: center;
   
}

.linha_foto{
    height: 50%;
    justify-content: center;
}

.linha_num{
    height: 20%;
    font-size: 15px;
    justify-content: center;

}





.form-group{
    
    background-color: blue;
    width: 530px;
    margin-left: 55px;
    border-radius: 20px;
}




.d_form{

    height: 350px;
    width: 640px;
    margin-left: 30vh;
    margin-top: 52px;
    align-items: center center;
    background-color:rgb(13, 136, 9) ;
    border-radius: 15px;
    border: solid 1px black;
}

.estilo_dados_form{
    
    border-radius: 10px;
    
    ;}